body{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

a{
  color: inherit;
  text-decoration: inherit;
}

.login{
  margin: 100px auto;
  padding: 30px;
  width: 250px;
  background-color: #00e6e6;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}

.title{
  font-size: 20px;
  font-family: Beleren;
}

.title a:hover{
  filter: invert(1);
  transition: all 0.3s ease-in;
}

.input{
  font-family: MPlantin;
  margin: 20px;  
}

#logo img{
  width: 30px;
  vertical-align: middle;
}

@font-face {
  font-family: MPlantin;
  src: url(../fonts/MPlantin.ttf);
}

@font-face {
  font-family: Beleren;
  src: url(../fonts/JaceBeleren-Bold.ttf);
}
