html, body{
  margin: 0px;
  padding: 0px;
  height: 100%;
}

a{
  color: inherit;
  text-decoration: inherit;
}

header div{
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  border-collapse: collapse;
  background-color: #cccccc;
}

.topnav{
  position: fixed;
  top: 0px;
  width: 100%;
  font-family: Beleren;
  overflow: hidden;
  background-color: #00e6e6;
  display: flex;
  align-items: center;
}

.title{
  padding-left: 40px;
  font-size: 20px;
}

.title a:hover{
  filter: invert(1);
  transition: all 0.3s ease-in;
}

#logo img{
  width: 30px;
  vertical-align: middle;
}

.searchbar{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.searchbar button{
  height: 27px;
}

.searchbar input{
  height: 21px;
  width: 400px;
}

.lupa{
  width: 20px;
}

.stats{
  margin-left: auto;
}

.stats, .login{
  color: white;
  padding: 28px 50px;
  background-color: #00b3b3;
}

.stats:hover, .login:hover{
  color: black;
  background-color: #cccccc;
  transition: all 0.3s ease-in;
}
#menu {
  display: none;
}

@media screen and (max-width: 1000px) {
  .topnav div:not(:first-child) {display: none;}
  .topnav #menu {
    display: block;
    position: absolute;
    right: 40px;
    top: 27px;
  }
}
@media screen and (max-width: 1000px) {
  .topnav.responsive {display: block;}
  .topnav.responsive .inmenu{
    padding: 10px;
    background-color: #00b3b3;
    display: block;
    text-align: center;
  }
  .topnav.responsive .searchbar{
    margin: 0 auto;
    display: flex;
  }
  .topnav.responsive .searchbar input{
    width: auto;
    min-width: 200px;
  }

  .topnav.responsive .stats:hover, .topnav.responsive .login:hover{
    color: black;
    background-color: #cccccc;
    transition: all 0.3s ease-in;
  }
}

.event{
  margin: 5%;
  font-family: MPlantin;
}

.wrapper {
  margin-top: 115px;
  min-height: 100%;
}

.push {
  height: 50px;
}

.social-footer {
  font-family: Beleren;
  margin-top: -50px;
  width: 100%;
  background: #4d4d4d;
  color: white;
  display: flex;
  align-items: center;
}

.social-footer div{
  padding: 10px 20px;
}

.social-footer-text a:hover{
  color: #00e6e6;
  transition: color 0.3s ease-in;
}

.social-footer-icons{
  margin-left: auto;
}

.social-footer ul{
  margin: 0px;
  list-style-type: none;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.social-footer li{
  margin: 10px;
  vertical-align: middle;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 10px;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: white;
}

.social-footer .social-footer-icons .fa:hover {
  color: #00e6e6;
  transition: color 0.3s ease-in;
}

@font-face {
  font-family: MPlantin;
  src: url(../fonts/MPlantin.ttf);
}

@font-face {
  font-family: Beleren;
  src: url(../fonts/JaceBeleren-Bold.ttf);
}
